<%- include("partials/header"); -%>
<style>
    .about-text {
      font-size: 18px;        
      line-height: 1.8;       
      margin: 20px auto;
      padding: 20px;
      font-family: Arial, sans-serif;
    }
  </style>
    <h1>About</h1>
  <div class="about-text">
    <p> <%= aboutContent %> </p>
    </div>
<%- include("partials/footer"); -%>
